@media (max-width:1289px) {

    #link-wrap input[type="text"] {
        height: 57px;
    }
}

@media (max-width:1123px) {

    #link-wrap input[type="text"] {
        width: 55%;
    }

    .link-button {
        margin-right: 60px;
        width: 22%;
    }

}

@media (max-width:1063px) {

    .footer-social {
        margin-left: 25px;
    }

    .footer-social i {
        font-size: 6.5vh;
        margin-bottom: 25px;
        text-align: center;
    }

    .details-description {
        display: block;
    }

}

@media (max-width:993px) {

    .start-title {
        font-size: 10vh;
    }

    .start-subtitle {
        font-size: 3vh;
    }

    .img-working {
        height: 60vh;
    }

    #link-wrap input[type="text"] {
        width: 48%;
    }

    .link-button {
        width: 25%;
    }

}

@media (max-width:892px) {

    .start-title {
        font-size: 8.5vh;
    }

    .start-subtitle {
        font-size: 2.5vh;
    }

    .img-working {
        height: 50vh;
    }

    .details-description {
        font-size: 1.8vh;
    }
}

@media (max-width:837px) {

    #link-wrap input[type="text"] {
        width: 42%;
    }

    .link-button {
        width: 28%;
    }

    .details-circle {
        margin: 0px auto;
        margin-bottom: 30px;
        margin-top: -115px;
    }

}

@media (max-width:770px) {

    .start-title {
        font-size: 8vh;
        line-height: 55px;
        text-align: center;
    }

    .start-subtitle {
        display: block;
        font-size: 2vh;
        margin-top: 10px;
        text-align: center;
    }

    .start-button {
        display: block;
        margin: 0px auto;
        margin-top: 30px;
        width: 90%;
    }

    #link-wrap input[type="text"] {
        width: 43%;
    }

    .link-button {
        width: 26%;
    }

    
}

@media (max-width:735px) {
    
    #header {
        width: 80%;
    }

    .header-menu > li{
        display: none;
    }

    .header-menu-login {
        padding: 0px
    }

    .header-menu-login > li {
        display: none;
    }

    .header-menu-icon {
        display: block !important;
        font-size: 6.5vh;
        margin-left: 30px;
    }

    #start-wrap {
        flex-direction: column-reverse;
    }

    .start-image-wrap {
        width: 110%;
    }

    .img-working {
        height: 45vh;
    }

    .start-title {
        font-size: 6.6vh;
        line-height: normal;
        margin-top: 40px;
    }

    .start-subtitle {
        font-size: 3.5vh;
    }

    #link-wrap {
        height: 33vh;
    }

    .link-container {
        margin-top: 20px;
    }

    #link-wrap input[type="text"] {
        display: block;
        height: 10.28vh;
        margin: 0px auto;
        width: 73%;
    }

    .link-button {
        display: block;
        height: 10.28vh;
        padding: 0px;
        margin: 0px auto;
        margin-top: 30px;
        width: 84%;
    }
  
}


@media (max-width:320px) {

    #link-wrap {
        background-image: url('./images/bg-shorten-mobile.svg');
        background-size: 287px;
    }

    #link-wrap input[type="text"] {
        padding-left: 3vh;
    }
    
}


